body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover, a:focus {
    text-decoration: none;
}
h1 {
    font-size: 2.5em;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
p.normal {
    font-size: 1.4em;
    line-height: 1.3em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.about { 
    margin: 20px auto 40px; 
    font-size: 1.1em;
    line-height: 1.2em;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

ul.about li {
    list-style: square;
}

* {margin: 0; padding: 0;}
 
div {
  margin: 20px;
}
 
ul {
  list-style-type: none;
  width: 500px;
}
 
h3 {
  font: bold 20px/1.5 "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
 
li img {
  float: left;
  margin: 0 15px 0 0;
}
 
li p {
  font: 200 12px/1.5 "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
 
li {
  padding: 10px;
  overflow: auto;
}
 
li:hover {
  background: #eee;
  cursor: pointer;
}